<div style="text-align:center">
  <h1>
    {{message}}
  </h1>
  <!-- <app-test></app-test> -->
  <!-- <app-binding></app-binding> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference></app-template-reference> -->
  <!-- <app-twoway-binding></app-twoway-binding> -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-component-interaction (childEvent)="message=($event)" [parentData]="name"></app-component-interaction> -->
  <!-- <app-pipes></app-pipes> -->
  <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail>
</div>