<div style="text-align:center">
  <h1>
    From App Component
  </h1>
  <!-- <app-test></app-test> -->
  <!-- <app-binding></app-binding> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference></app-template-reference> -->
  <app-twoway-binding></app-twoway-binding>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->